.header {
    background-color: #003af0;
    /* background: rgb(67,111,255);
    background: linear-gradient(333deg, rgba(67,111,255,1) 0%, rgba(10,44,152,1) 100%); */
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    color: #fff;
}

.header__title {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Fredoka One';
}