.app {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90px auto 1fr;
  grid-template-areas: 
    'header header header header header header'
    'error error error error error error'
    'sidebar sidebar content content content content';
}

.app__header {
  grid-area: header;
}

.app__sidebar {
  grid-area: sidebar;
}

.app__content {
  padding: 20px;
  grid-area: content;
}

.app__error {
  grid-area: error;
}