################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/aspnet-core/.vs/Reminder.Caremind/DesignTimeBuild/.dtbcache.v2
